#tbl {
    width: 100%;
    border: 1px solid;
}

th, td {
    vertical-align: center;
    border: 1px solid;
    width: 20%;
}

#tf {
    width: 100%;
}

#cant {
    border: none;
    margin: none;
    text-align: center;
    width: 74%;
}